

.section-portfolio {
    padding: 60px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.top-section {
    display: flex;
    align-items: center;
}

.small-desd {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

/* Button styling for "Book a Show" CTA */
.btn-book-show {
    background-color: #6633cc;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-book-show:hover {
    background-color: #4b25a1;
    color: #fff;
}



/* Hamburger Menu */
.toggle-mnu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
}

.toggle-mnu span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}

/* Mobile Menu */
#mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    z-index: 999;
    text-align: center;
}

#mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#mobile-menu ul li {
    margin-bottom: 20px;
}

#mobile-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#mobile-menu.active {
    display: block;
}

/* Responsive Design */
@media (min-width: 768px) {
    .small-desd {
        font-size: 28px;
    }

    .top-menu {
        display: flex;
    }

    .toggle-mnu {
        display: none;
    }
}

@media (max-width: 1024px) {
    .top-menu {
        display: none;
    }

    .toggle-mnu {
        display: block;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 576px) {


    .small-desd {
        font-size: 20px;
    }

    .play-button {
        font-size: 10vw;
    }
}
